[Unit]
Description=Odoo 18
After=postgresql.service

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/opt/odoo/venv/bin/python /opt/odoo/odoo-18.0/odoo-bin  -c /etc/odoo/odoo.conf

[Install]
WantedBy=multi-user.target
